.banner {
    margin: 0.4rem;
    position: relative;
    padding: 0;
    height: 555px;
    border-color: var(--cor-borda);
    border-style: var(--estilo-borda);
    border-width: var(--espessura-borda);
}

.title {
    position: absolute;
    top: 0;
    margin: 1rem;
    color: white;
}

.banner img {
    display: block;
}
