.header {
    margin: 0.4rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    border-color: var(--cor-borda);
    border-style: var(--estilo-borda);
    border-width: var(--espessura-borda);
}
