body {
    padding: 0;
    margin: 0;
}

.fundo {
    min-height: 100vh;
    transition: background 0.3s ease;
}

.tema-chuva-fundo {
    background-color: midnightblue;
    color: white;
}

.tema-sol-fundo {
    background-color: lightskyblue;
}
